@{
    ViewData["Title"] = "Generate Unique Number";
}
@{
    if (ViewBag.MaxLengthError is not null)
    {
        <div class="alert alert-danger mt-3"><h6><i class="fa fa-exclamation-circle" aria-hidden="true"></i> @ViewBag.MaxLengthError</h6></div>
    }
}
<div class="alert alert-dismissible alert-light mt-4">
    <h3>Generate Unique Number</h3>
    <h6 class="text-secondary">Through this service you can generate a unique random number that does not repeat</h6>
</div>

<form id="generateForm" method="post" asp-controller="UniqueNumber" asp-action="GenerateNumber" onsubmit="showLoading()">
    <div class="form-group">
        <label for="length">Enter Length</label>
        <input type="number" id="length" name="length" class="form-control mt-2" min="1" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Generate</button>
</form>

@if (ViewBag.UniqueNumber != null)
{
    <span class="badge rounded-pill bg-success fs-1 mt-4">@ViewBag.UniqueNumber</span>
}

<!-- Loading Spinner and Overlay -->
<div id="loadingOverlay" class="loading-overlay" style="display:none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

@section Scripts {
    <link href="~/bootstrap/css/loader_sys.css" rel="stylesheet" />
    <script>
        function showLoading() {
            document.getElementById("loadingOverlay").style.display = "flex";
        }
    </script>
}